@import '../../styles.scss';

// $values: first, second, third, forth;








.color {
    color: $black;
}



.tablehead {
    font-size: 14px;
    font-size: clamp(0.625rem, 2.5vw, 0.875rem);
    // overflow: scroll;
}

.circular {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    
}
.tablebody{
    background-color: #FFFFFF;
    border-radius: 2px;
    font-size: clamp(0.625rem, 1.5vw, 0.875rem);

}
@media only screen and (max-width: 522px){
    .circular {
        height: 8px;
        width: 8px;}

}
@media only screen and (max-width: 491){
    .circular {
        height: 6px;
        width: 6px;}

}