<div class="row d-flex align-items-center justify-content-center ">
  <div class="col-11">
    <div class="tittle-wrapper row align-items-center justify-content-between ">
      <div class="col-3 col-lg-3 thaili">Thaili Project Development</div>
      <div class="col-6 col-sm-5 col-lg-3">
        <div class="tables row d-flex align-items-center justify-content-between">
          <div class="col-lg-3 col-sm-4 col-4 click" routerLink="board">Board</div>
          <div class="col-lg-3 col-sm-4 col-4 click" routerLink="list">list</div>
          <div class="col-lg-3 col-sm-4 col-4 click" routerLink="table">Table</div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="row justify-content-evenly d-flex align-items-center ms-sm-4 ms-lg-1">
  <div class="wrapper col-11">
    <div class="row d-flex justify-content-between open align-items-center pt-4 ms-1">
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 pt-5" *ngFor="let value of ticketvalue">
        <div class="no">{{ value.num }}</div>
        <div class="ticket-{{ value.no }}">{{ value.ticket }}</div>
      </div>
    </div>
  </div>
</div>