@import '../../styles.scss';

$colors: #d3d3d3, #4194f6, #a875ff, #6BC950;

.thaili{
    color: $black;
    font-size: 1rem;
    font-weight: 600;
}
.tables{
    color: $unnamed;
    font-size: 0.875rem;
    
}
.click{
    cursor: pointer;
}
@each $color in $colors {
    $i: index($colors, $color);

    .ticket-#{$i} {
        position: relative;
        font-size:0.875rem;

        &::before {
            position: absolute;
            height: 15px;
            width: 15px;
            content: '';
            left: -27px;
            border-radius: 50%;
            // top: 5px;
            background-color: $color;

        }
    }
}
.no {
    font-size: 1.125rem;
    font-weight: 600;
}
.active{
    color: $lightblue;
}