@import '../../styles.scss';

$colors: #d3d3d3, #4194f6, #a875ff, #6BC950;


@each $color in $colors {
    $i: index($colors, $color);

    .ticket-#{$i} {
        // height: 45px;
        background-color: #fff;
        border-left: 5px solid $color;
        border-top: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-radius: 5px;
        font-size: 0.875rem;


    }
}
.vamp{

    min-height: 150px;
}
.box-container {
    background-color: white;
}

input[type='checkbox'] {

    border-radius: 50%;
    height: 16px;
    appearance: none;
    border: 2px solid #D3D3D3;
    display: flex;
    width: 16px;
    outline:none;
}

input:checked {

    position: relative;
   outline:none;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 16px;
}

input:checked::before {
    position: absolute;
    content: '\2713';
    color: #fff;    border: none;



}
.review-value input:checked{
    background-color: #A875FF;

}
.open-value input:checked{
    background-color: #D3D3D3;

}.closed-value input:checked{
    background-color: #6BC950;

}.progress-value input:checked{
    background-color: #4194f6;

}


// .checkbox-round {
//     width: 1.3em;
//     height: 1.3em;
//     background-color: white;
//     border-radius: 50%;
//     vertical-align: middle;
//     // border: 1px solid #ddd;
//     // appearance: none;
//     outline: none;
//     cursor: pointer;
// }

// .checkbox-round:checked {
//     background-color: gray;
// }
.toptext {
    font-size: 0.6875rem;
    font-weight: 500;
}

.thaili,
.side,
.client,
.date,.ticketid ,.icon {
    font-size: 0.625rem;
    color: $black;
}


hr{
    color: #E4E4E4;
}