<div class="container">
    <div class="row d-flex justify-content-between align-items-center">
        <div class="col-6 d-none d-md-block">
            <div class="image">
                <div class="wrapper col-11 ps-5 d-flex align-items-center justify-content-center">
                    <div class="text-wrapper ps-5 ">
                        <div class="welcome pt-3">Welcome To</div>
                        <div class="ticket">Ticket Manangement System</div>
                        <div class="dummy pt-3">
                            is simply dummy text of the printing and typesetting industry.
                            Lore
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6"><app-login-table></app-login-table></div>
    </div>
</div>
