.image{
   
    background-image: url("../../assets/Background_1.png");  
    height: 98vh;
    color: white;
    border-radius: 0px 12px 12px 0px;
    opacity: 0.8;

}
.wrapper{
    height: 100vh;
    
}
// .text-wrapper{}
.welcome{
    font-size: 32px;
    font-weight: 600;
}
.ticket{

    font-size: 22px;
    font-weight: 500;
}
.dummy{
    font-size: 16px;
    font-weight: 300;
   
}